body{
    background-color: rgb(17, 62, 62);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
#container{
    color: azure;
}
.digit{
     font-size: 150px;
     font-weight: bold;
}
.txt{
    font-size: 40px;
    font-weight: bold;
}
#btn-container{
    text-align: center;
    margin-top: 40px;


}
.btn{
    padding:7px 25px;
    font-size: 15px;
    margin:0px 10px;
    color: white;
    border: 0px;
    cursor: pointer;
}
#start{
    background-color: rgb(91, 228, 217);

}
#stop{
    background-color: rgba(40, 107, 161, 0.596);

}
#reset{
    background-color: crimson;

}